{% extends 'base.html.twig' %}

{% block title %}Exercices !{% endblock %}

{% block body %}
    <h2>Liste des abonnés qui ont empruntés un livre d'Alphonse Daudet</h2>
    {% for emprunt in emprunts_livres_alphonse_daudet %}
        <p>Abonné : {{ emprunt.abonne.prenom }} - Livre : {{ emprunt.livre.titre }}</p>
    {% endfor %}

    <hr>
    <div>
        <h2>Liste des livres empruntés par Chloé</h2>
        <p>
        {% for emprunt in liste_chloe %}
            {{ emprunt.livre.titre ~ ", " }}
        {% endfor %}
        </p>
    </div>

    <form>
        <div class="form-group">
            <label>Prénom de l'abonné : </label>
            <input type="text" name="prenom" class="form-control">
        </div>
        <button class="btn btn-primary">Envoyer</button>
    </form>

    {% if liste_livres_empruntes_par|length > 0 %}
    
        <h2>Liste des livres empruntés par {{ prenom }} :</h2>
        <div class="card-columns">
        {% for emprunt in liste_livres_empruntes_par %}
            {% include "livre/vignette.html.twig" with { "livre": emprunt.livre } %}
        {% endfor %}
        </div>
    {% else %}
        <p class="alert alert-warning">Cet abonné n'existe pas ou n'a jamais emprunté de livres</p>
    {% endif %}

{% endblock %}
