{% extends 'base_admin.html.twig' %}

{% block title %}Abonnés{% endblock %}

{% block body %}
    <h1>Liste des abonnés : {{ abonnes|length }} abonnés</h1>
    {% include "abonne/table.html.twig" with { "abonnes": abonnes } %}
    <a href="{{ path('abonne_new') }}"><i class="fa fa-plus"></i> Ajouter</a>
{% endblock %}
