{% extends 'base_admin.html.twig' %}

{% block title %}Abonnés{% endblock %}

{% block body %}
    {% include "abonne/table.html.twig" with { "abonnes": abonnes, "table_titre":  "Liste des abonnés : " ~ abonnes|length ~ " abonnés"} %}
    <a href="{{ path('abonne_new') }}"><i class="fa fa-plus"></i> Ajouter</a>
{% endblock %}
