{% extends "base.html.twig" %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <form>
        <div class="form-group">
            <label for=""></label>
            <select multiple class="form-control" name="">
                <option value=""></option>
            </select>
        </div>

    </form>
{% endblock %}