{% extends "base.html.twig" %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <form method="POST">
        <div class="form-group">
            <label for="">Livres disponibles</label>
            <select multiple class="form-control" name="livres[]" required>
                {% for livre in livresRendus %}
                    <option value="{{ livre.id }}">{{ livre.titre ~ " - " ~ livre.auteur }}</option>                    
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Emprunter</button>
    </form>
{% endblock %}