<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Accueil{% endblock %}| Biblios</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags("app") }}
			{{ encore_entry_link_tags("admin") }}
		{% endblock %}
	</head>

	<body>
        <div class="right-aside">
            {% include "menu.html.twig" %}
        </div>

		<aside class="bg-dark">
            {% include "admin/menu.html.twig" %}
		</aside>

		<main class="right-aside container">
			<div class="container pt-2">
				{% include "message.html.twig" %}

				{% block body %}
					<h1>
						{% block h1 %}Bienvenue à la bibliothèque
						{% endblock %}
					</h1>

					{% block formulaire %}{% endblock %}

					<div>
						<h2>Liste des livres :
							{{ liste_livres|length }}</h2>
						{% if liste_livres|length %}
							<div
								class="card-columns">
								{# EXO : afficher la liste des livres #}
								{% for livre in liste_livres %}
									{% include "livre/vignette.html.twig" with { "livre": livre } %}
								{% endfor %}
							</div>
						{% else %}
							<div class="alert alert-warning">Aucun livre, ni auteur, ne correspond à votre recherche</div>
						{% endif %}
					</div>
				{% endblock %}
			</div>
		</main>

		{% include "footer.html.twig" with { "footer_admin": true } %}

		{% block javascripts %}
			{{ encore_entry_script_tags("app") }}
		{% endblock %}
	</body>
</html>
